/* Created by: Ben Thomson
* Created on: 05/12/2023
* This CSS file defines the style for index.html
* ICS2O-Unit5-03-HTML-Factorial
*/

body {
  background-color: rgb(221 161 94);
  font-weight: 900;
  color: #283618;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: hsl(28deg 67% 44%);
  padding: 40px;
  text-align: center;
}

form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  background-color: #606c38;
  padding: 20px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  background-color: #606c38;
  padding: 20px;
}

div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}
